<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cal-Pal{% endblock %}</title>

        <style>
        html {

        }

        header{

        }

        .bar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: darkslateblue;
        }

        li {
            float: left;
        }

        li a.navbar {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        body {

        }

        h1, h2 {
            color: black;
            text-align: center;
            border-bottom:
        }

        p {
            font-family: verdana;
            font-size: 20px;
            text-align: left;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li a {
            display: block;
            color: black;
            width: 120px;
            text-decoration: none;

        }

        li a:hover {
            background-color: gray;
            color: white;
        }

        /* Create three equal columns that floats next to each other */
        .column1{
            float: left;
            width: 80%;
            background: lightblue;
        }

        .column2{
            float: left;
            width: 20%; 
        }

        .cal{
            text-align: center;
        }

        #calendar2 {
            padding-left: 5px;
            padding-top: 19px;
        }
        #calendar2 .fc-toolbar .fc-left {
            font-size: 14px;
        }

        #calendar2 .fc-toolbar .fc-right {
            font-size: 14px;
        }

        </style>       
        {% block stylesheets %}{% endblock %}
        {% block headblock %} {% endblock %}
    </head>
    <body>
        <header>
                <h1>Cal-Pal</h1>
                <ul class="bar">
                    <li></li>
                    <li><a class="navbar" href="{{ path('index_cal_pal') }}">Home</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                         <li><a class="navbar" href="{{ path('manage_cal_pal') }}">Manage Account</a></li> 
                     {% endif %}
                    <li><a class="navbar" href="{{ path('about_cal_pal') }}">About</a></li>
                    <li style="float: right"><a class="navbar" href="{{ path('login') }}">Logout</a></li>
                </ul>
            </header>
        {% block body %} {% endblock %}
    </body>
</html>